.overview {
    width: 100%;
    border-radius: 10px;
}

.title {
    font-size: 18px;
}

.description {
    margin-top: 20px;
}

.ticket-wrapper {
    position: relative;
}

.actions {
    position:absolute;
    bottom: 20px;
}